.footmain{
    background-color: rgb(237, 249, 254);
    height: 35px;
}
.foot{
    font-family: cursive;
    text-align: center;
}

@media (max-width: 770px) {
    .footmain{
        width: 154vw;
    }
    .foot{
        text-align: center;
    }
    
}
@media (max-width: 470px) {
    .footmain{
        width: 313vw;
    }
}