.main {
    display: flex;
    justify-content: space-evenly;
    height: 90vh;
    background-color: rgb(237, 249, 254);
    
}

.pagebody {
    background-color: rgb(237, 249, 254);
    margin-bottom: 0;
    width: 100%; /* Ensure full width */
}





.intro {
    margin: auto;
    text-align: center;
    padding: 20px;
    background-color: rgb(237, 249, 254);
}

.myname {
    text-align: center;
    color: rgb(0, 25, 85);
    font-size: larger;
    font-family: cursive;
}

.intro h3 {
    font-size: 3.2em;
    margin-bottom: 10px;
}

.description {
    font-size: 1.3em;
    margin-bottom: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.imageintro {
    text-align: center;
    margin-top: 80px;
}

.imageintro img {

    max-width: 50vw;
    height: 90vh;

}

/* SocialMediaButton.css */
.SocialMediaButton {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
}

.SocialMediaButton li {
    margin: 0 10px;
}

.SocialMediaButton button {
    border-radius: 50%;
    width: 50px; /* Adjust size as needed */
    height: 50px; /* Adjust size as needed */
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

.SocialMediaButton button:hover {
    background-color: #ddd; /* Change color on hover as needed */
}

.SocialMediaButton a {
    text-decoration: none;
    color: inherit; /* Ensure link inherits button text color */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.gitbut{
    background-color: rgb(19, 19, 19);
    color: white;
}
.gitbut:hover{
    
    color: rgb(153, 23, 23);
}
.linkedinbut{
    background-color: rgb(1, 1, 253);
    color: white;
}
.linkedinbut:hover{
  
    color: rgb(1, 1, 253);
}
.emailbut{
    background-color: orange;
    color: white;
}
.emailbut:hover{
    color: orange;
}
.instabut{
    background-color: palevioletred;
    color: white;
}
.instabut:hover{
    color: palevioletred;
}
.twitterbut{
    background-color: black;
    color: white;
}
.twitterbut:hover{
    color: black;
}
.fbbut{
    background-color: skyblue;
    color: white;
}
.fbbut:hover{
    color: skyblue;
}

/* Animation */

/* Intro.css */

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-40px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.myname {
    animation: fadeIn 2s ease-in-out;
}

.description{
    animation: fadeIn 3s ease-in-out;
}

.SocialMediaButton{
    animation: fadeIn 4s ease-in-out;
    
}
.imageintro{
    animation: fadeIn 4s ease-in-out;
}

/* responsive */

@media (max-width: 1200px) {
    .intro {
        padding-top: 15vh;
        padding-left: 5vw;
    }

    .imageintro img {
        width: 40vw;
        height: auto;
        margin-top: 22vh;
    }

}
@media (max-width: 975px) {
    .main {
        flex-direction: column;
        padding-top: 10vh;
        height: 100%;
    }

    .imageintro img {
        width: 80vw;
        height: auto;
        padding-left: 0;
        margin: 10vw;
    }

    .intro {
        padding-top: 10vh;
        padding-left: 0;
    }
}
@media (max-width: 770px) {
    .main {
        flex-direction: column;
        padding-top: 10vh;
        width: 154vw;
        height: 100%;
    }

    .imageintro img {
        width: 80vw;
        height: auto;
        padding-left: 0;
        margin: 10vw;
    }

    .intro {
        padding-top: 10vh;
        padding-left: 0;
    }
}
@media (max-width: 470px) {
    .main {
        flex-direction: column;
        padding-top: 10vh;
        width: 313vw;
    }
   

    .imageintro img {
        width: 120vw;
        height: 60vh;
        padding-left: 0;
        margin-top: -22px;
    }
    .imageintro{
        margin-top: 10px;
    }
    .intro {
        padding-top: 10vh;
        padding-left: 0;
        font-size: 2rem;
    }
}