/* Global Styles */
.pagebody {
    background-color: rgb(237, 249, 254);
    margin-bottom: 0;
    width: 100%; /* Ensure full width */
}

.promain {
    display: flex;
    flex-direction: row;
    padding-top: 18vh;
    background-color: rgb(237, 249, 254);
}

.mainimg img {
    width: 45vw;
    height: 70vh;
    padding-left: 8vw;
}

.contenthead {
    padding-top: 12vh;
    padding-left: 8vw;
    text-align: center;
}

.contenthead h2 {
    font-size: 4rem;
    font-family: cursive;
    
}

.contenthead h3 {
    font-size: 2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}



/* Certification */
.certhead h2 {
    font-family: cursive;
    margin-top: 2.5rem;
    font-size: 3rem;
    text-align: center;
}

.certificate {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 2.5rem;
    flex-wrap: wrap;
    animation: fadeIn 2s ease-in-out;
}

.cert1 {
    position: relative; /* Ensure the parent has a relative position */
    border: 0.125rem solid rgb(253, 250, 250);
    width: 25.3vw;
    margin-bottom: 1.25rem;
    border-radius: 1.25rem;
    box-shadow: 0.125rem 0.25rem 1.25rem 0px black;
    overflow: hidden; /* Ensure the content stays within the parent */
}

.cert1 img {
    width: 25vw;
    height: 25vh;
    padding-right: 0;
    border-radius: 1.25rem;
}

.cert1 h4 {
    font-family: cursive;
    font-size: 1.25rem;
    text-align: center;
}

.content-details {
    position: absolute;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1em;
    width: 100%;
    height: 79%;
    border-radius: 15px;
    top: 35%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: opacity 1s ease-in-out;
    background-color: rgba(0, 0, 0, 0.6);
}

.cert1:hover .content-details {
    opacity: 1;
}

.content-title {
    color: #f3ecec;
}

/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-40px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
.mainimg {
    animation: fadeIn 3s ease-in-out;
}
.contenthead {
    animation: fadeIn 3s ease-in-out;
}
.colldegree h2 {
    animation: fadeIn 3s ease-in-out;
}

/* Responsive Styles */
@media (max-width: 1200px) {
    .contenthead {
        padding-top: 15vh;
        padding-left: 5vw;
    }

    .mainimg img {
        width: 40vw;
        height: auto;

    }

}

@media (max-width: 975px) {
    .promain {
        flex-direction: column;
        padding-top: 10vh;
    }

    .mainimg img {
        width: 80vw;
        height: auto;
        padding-left: 0;
        margin: 10vw;
    }

    .contenthead {
        padding-top: 10vh;
        padding-left: 0;
    }

 

    .certificate {
        flex-direction: column;
        align-items: center;
    }

    .cert1 {
        width: 80vw;
        height: 44vh;
        margin-bottom: 2rem;
    }

    .cert1 img {
        width: 100%;
        height: 32vh;
    }

    .colldegree h2 {
        font-size: 2rem;
    }

    
}

@media (max-width: 600px) {
    .contenthead h2, .colldegree h2, .certhead h2 {
        font-size: 2rem;
    }

    .contenthead h3 {
        font-size: 1.5rem;
    }

    .cert1 h4 {
        font-size: 1rem;
    }

}
